.section {
    background-color: #121212;
    width: 100vw;
    padding-top: 150px;
    padding-bottom: 150px;

    .flex {
        max-width: 1150px;
        width: 100%;
        margin: 0% auto;
        display: flex;
        flex-direction: column;
        gap: 85px;

        h2{
            font-weight: 400;
            font-size: 18px;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: #fff;
        }

        .row-flex {
            display: flex;
            flex-direction: row;
            gap: 11px;
        }

    }

    .ButtonSection {
        max-width: 1150px;
        width: 100%;
        margin: 0% auto;
    }


}