button {
    border-radius: 5px;
    padding: 20px 40px;
    width: 255px;
    height: 67px;
    background: #ad1818;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #fff;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}


@media(min-width:300px) and (max-width:600px) {
    button {
        border-radius: 4px;
        padding: 15px 30px;
        width: 194px;
        height: 51px;
        font-size: 16px;
        letter-spacing: -0.03em;
    }

}