.main-div{
    margin-bottom: 90px;
    .img{
        max-width: 1150px;
        width: 100%;
    }

    .link-style {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: -0.03em;
        color: #ad1818;
        text-decoration: none;
    }
}
