header { 
    display: flex; 
    flex-direction: row; 
    max-width: 1150px; 
    width: 100%;
    margin: 0 auto; 
    justify-content: space-between; 
    padding-left: 10px;
    padding-right: 10px;

    img {
        padding-top: 20px;
        width: 126px; 
        height: auto; 
        vertical-align: middle; 
        align-items: center;
    }

    nav {
        ul { 
            display: flex; 
            flex-direction: row; 
            gap: 60px; 

            li { 
                list-style-type: none; 

                a { 
                    text-decoration: none; 
                    font-weight: 400; 
                    font-size: 18px; 
                    letter-spacing: -0.03em; 
                    text-transform: uppercase; 
                    color: #121212; 
                } 

                a:hover { 
                    text-decoration: underline; 
                    opacity: 0.5; 
                } 
            } 
        } 

        .mobile-btn {
            display: none;
            z-index: 9999!important;
        }
    }
} 

@media (max-width: 960px) {
    header {
        nav {
            position: fixed;
            right: 0;
            z-index: 10;

            .menu {
                display: none; // Скрыто по умолчанию
                flex-direction: column;
                position: absolute;
                top: 0;
                right: 0;
                width: 274px;
                height: 100vh;
                background-color: white;
                z-index: 9999!important;
                transition: opacity 0.3s ease; // Плавный переход по непрозрачности

                li {
                    a {
                        font-size: 25px;
                    }
                }
            }

            .mobile-btn {
                display: block !important;
                position: absolute;
                right: 0;
                z-index: 10;
                top: 30px;
                cursor: pointer;
            }

            .active {
                display: flex; // Показываем меню, когда оно активно
            }
        }
    }
}