.Projecst {
    max-width: 1150px;
    width: 100%;
    margin: 0% auto;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;

    button {
        max-width: 1150px;
        width: 100%;
        border: 1px solid #ad1818;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0);
        color: #ad1818;
        font-size: clump(12px,2vw,30px);



    }
}